{% extends "snow_inspector/base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}



{% block app_navigation_items %}
<form method="get" action="../snow_graph/">
  {% csrf_token %}
  <li class="title">Snow Location</li>
  <li class="active">
    <a href="{% url 'snow_inspector:map' %}">Map Input</a>
  </li>
  <li><a href="{% url 'snow_inspector:snow_graph' %}">Snow Graph</a></li>
  <li>
    {% gizmo date_picker date_picker %}
    {% gizmo text_input days_picker %}
    {% gizmo text_input lat_picker %}
    {% gizmo text_input lon_picker %}
  </li>
  <li>
  <input type="submit" value="GET SNOW!" name="name-form-submit" class="btn btn-default">
  </li>

</form>
{% endblock %}

{% block app_content %}
   
    <p>Move snow location on the map</p>
    <div id="map"></div>

{% endblock %}

{% block app_actions %}
  <a href="{% url 'snow_inspector:home' %}" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="https://maps.googleapis.com/maps/api/js?libraries=drawing&sensor=false"></script>
  <script src="{% static 'snow_inspector/js/gmaps.js' %}"></script>
  <script>
      var map=new GMaps({
        el: '#map',
        lat: 40.00,
        lng: -110.00
      });
  </script>
{% endblock %}
