{% extends "snow_inspector/base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}



{% block app_navigation_items %}
<form method="get" action="../snow_graph/">
  {% csrf_token %}
  <li>
    {% gizmo date_picker date_picker %}
    {% gizmo text_input days_picker %}
    {% gizmo text_input lat_picker %}
    {% gizmo text_input lon_picker %}
  </li>
  <li>
  <input type="hidden" id="end" name="end"></input>
  <input type="submit" value="GET SNOW!" name="name-form-submit" class="btn btn-default">
  </li>

</form>
{% endblock %}

{% block app_content %}
   
    <p>Click on the map to change snow location. Then click GET SNOW! to show snow history.</p>
    {% gizmo map_view map_options %}

{% endblock %}

{% block app_actions %}
  <a href="{% url 'snow_inspector:home' %}" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'snow_inspector/js/map.js' %}"></script>
{% endblock %}
