{% extends "snow_inspector/base.html" %}

{% load staticfiles %}

{% load tethys_gizmos %}

{% block global_scripts %}
  {{ block.super }}
  <script src="{% static 'snow_inspector/vendor/openlayers/v3.3.0/ol.js' %}" type="text/javascript"></script>
{% endblock %}

{% block styles %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'snow_inspector/vendor/openlayers/v3.3.0/ol.css' %}" type="text/css" />
  <style>
    .ol-mouse-position {
      top: 10px;
      right: 40px;
    }
  </style>
{% endblock %}



{% block app_navigation_items %}
<form method="get" action="snow_graph/">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#welcome-popup">Instructions</button>
<br><br>
  <li>
    {% gizmo date_picker date_picker %}
    {% gizmo text_input days_picker %}
    {% gizmo text_input lat_picker %}
    {% gizmo text_input lon_picker %}
  </li>

  <input type='hidden' id='end' name='end'></input>
  <input type='hidden' id='zoom' name='zoom'></input>

  <input type="submit" value="GET SNOW!" name="name-form-submit" class="btn btn-default">
  </li>

</form>
{% endblock %}


{% block app_content_wrapper_override %}
<!-- Modal  -->
<div class="modal fade" id="welcome-popup" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Welcome to the MODIS snow inspector!</h4>
            </div>
            <div class="modal-body">
                <div id="welcome-info">
                    <ol>
                        <h6>1. Select time period</h6>
                        <p>Choose the date and the length of the time period in days.</p>
                        <h6>2. Select point of interest</h6>
                        <p>Click the map or enter coordinates to select the point of interest.</p>
                        <h6>3. Get snow time series</h6>
                        <p>Click the Get Snow button to show a time-series graph.</p>
                        <h6>4. Download Results</h6>
                        <p>
                           Click the "Get WaterML" to save results as a WaterML file.
                        </p>
                        <h6>5. Upload to HydroShare</h6>
                        <p>Click the "Upload to HydroShare" and fill out the meatadata form. </p>

                        <h9>Note: The original data is retrieve from map tiles of the
                          <a href="http://earthdata.nasa.gov/about-eosdis/science-system-description/eosdis-components/global-imagery-browse-services-gibs">
                            NASA Global Imagery Browse Service (GIBS)</a> based on the MOD10_L3 swath daily fractional snow cover dataset.
    For more info and source code, check our <a href="http://github.com/jirikadlec2/snow-inspector">source code</a> at GitHub
                        </h9>
                    </ol>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="close-popup" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->
{{block.super}}
{% endblock %}


{% block app_content %}
   
    <p>Click on the map to change snow location. Then click GET SNOW! to show snow history.
      <input type="button" id="btnShowPixels" name="btnShowPixels" value="Show Pixels" />
      <input type="button" id="btnShowModis" name="btnShowModis" value="Hide Modis Layer" />
      <select id="selectBaseMap">
        <option value="esri">Esri</option>
        <option value="mapquest">MapQuest</option>
        <option value="bing">Bing</option>
        <option value="osm">OpenStreetMap</option>
      </select>
    </p>
    <div id="map_view_outer_container">
      <div class="row">
        <div class="col-md-12">
          <div id="map_wrapper">
            <div id="map_view" style="width: 100%; position: relative;">
            </div>
          </div>
        </div>
      </div>
    </div><!-- end outerContainer -->
    

{% endblock %}

{% block app_actions %}
  <a href="{% url 'snow_inspector:home' %}" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'snow_inspector/js/map.js' %}"></script>
{% endblock %}
