{% extends "snow_inspector/base.html" %}

{% load tethys_gizmos %}

{% block app_navigation_items %} 
	<li><a href="{% url 'snow_inspector:map' %}">Map Input</a></li> 
{% endblock %}

{% block app_content %}
  <p>Snow Graph For: <span id="lat">{{lat}}</span> <span id="lon">{{lon}}</span></p>
  <p>time period: <span id="startDate">{{startDate}}</span>&nbsp;-&nbsp;<span id="endDate">{{endDate}}</span></p>

  <div id="snow-chart"></div> 
{% endblock %}

{% block app_actions %}
  <a href="{% url 'snow_inspector:home' %}" class="btn btn-default">Back</a>
{% endblock %}

{% block scripts %}
  
<script src="/static/tethys_gizmos/vendor/highcharts/js/highcharts.js" type="text/javascript"></script>
<script src="/static/tethys_gizmos/vendor/highcharts/js/highcharts-more.js" type="text/javascript"></script>
<script src="/static/tethys_gizmos/vendor/highcharts/js/modules/exporting.js" type="text/javascript"></script>
<script src="{% static 'snow_inspector/js/main_snow.js' %}"></script>
  {{ block.super }}
{% endblock %}
